@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Header  */
.headerMain {
  border: 2px solid pink; 
  padding: 20px;
  height: 30px;
  background-color  : #121212;
  position: sticky;
  top:0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.headerTextName {
  font-size: 25px;
  color: white;
  padding-left: 15px;
  font-family: 'Montserrat', sans-serif;
}
.headerTextSkills, 
.headerTextWork {
  font-size: 17px;
  color: grey;
  padding-left: 20px;
  padding-top: 8px;
  font-family: 'Montserrat', sans-serif;
}
.headerTextHireMe {
  font-size: 17px;
  color: grey;
  padding-left: 20px;
  padding-top: 8px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;

}
/* Header  */

/* Home Page */
.homeMain {
  background-color  : #181818;
  height: 750px;
}
/* Home Page */
