@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Header  */
.headerMain {
  padding: 20px;
  height: 30px;
  background-color: #121212;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.firstThreeButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerTextName {
  font-size: 25px;
  color: white;
  padding-left: 15px;
  font-family: "Montserrat", sans-serif;
}
.headerTextName:hover {
  font-size: 25px;
  color: grey;
  padding-left: 15px;
  font-family: "Montserrat", sans-serif;
}

.headerTextSkills,
.headerTextWork {
  font-size: 17px;
  color: grey;
  padding-left: 20px;
  padding-top: 8px;
  font-family: "Montserrat", sans-serif;
}

.headerTextSkills:hover,
.headerTextWork:hover {
  font-size: 17px;
  color: white;
  padding-left: 20px;
  padding-top: 8px;
  font-family: "Montserrat", sans-serif;
}
.headerTextHireMe {
  font-size: 17px;
  color: grey;
  padding-left: 20px;
  padding-top: 8px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  display: flex;
}

.gitHubIcon {
  width:45px;
  height: 45px;
  color: white;
}
.gitHubIcon:hover {
  width:45px;
  height: 45px;
  color: grey;
}
/* Header  */




/* Home Page */
.homeMain {
  background-color: #181818;
  width: 100%;
  height: 150%;
  display: flex;
  flex-direction: column;
}
.welcomeText {
  font-size: 30px;
  color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
}

.introText {
  padding-top: 50px;
  padding-left: 45px;
}
.introTextMain {
  margin-top: 50px;
}
.introSubText {
  font-size: 20px;
  color: gray;
  font-family: "Montserrat", sans-serif;
}
.jamesPicture {
  border-radius: 25%;
  width: 350px;
  margin-top: 60px;
  margin-left: 400px;

}
.homeImg {
  
}
@media screen and (max-width: 1024px) {
  .jamesPicture {
    display: none;
  }
}
/* Home Page */

/* Projects Page */

.projectsText {
  margin-top: 10%;
  font-size: 200px;
  scroll-snap-type: x mandatory;
}

/* Projects Page */